<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Homomorphic Encryption</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>

 
 
 <div class="login">
	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('customerEncryption')}}"method="post">
    	<input type="text" name="Age" placeholder="Enter your Age" required="required" />
        <input type="text" name="Healthy Eating" placeholder="Healthy Eating (On a scale of 1 to 10)" required="required" />
		<input type="text" name="Active lifestyle" placeholder="Active lifestyle (On a scale of 1 to 10)" required="required" />
        <input type="text" name="Gender" placeholder="Gender (0:Male,1:Female)" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
 </div>


</body>
</html>